body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background: url(../img/bg.jpg) no-repeat center center fixed;
}

.button-wrapper{
    text-align: center;
}

button {
    background-color: cornflowerblue;
}

.title {
    text-align: center;
}

.content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.title, .quote-wrapper, .button-wrapper {
    opacity: 0;
}

#quote {
    text-align: center;
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}